<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"block-theme-scaffold/hero"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"block-theme-scaffold/query-posts-grid"} /-->

	<!-- wp:pattern {"slug":"block-theme-scaffold/features"} /-->

	<!-- wp:pattern {"slug":"block-theme-scaffold/testimonials"} /-->

	<!-- wp:pattern {"slug":"block-theme-scaffold/call-to-action"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
